@model IEnumerable<CouponDto>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-light text-dark text-center py-3">
        <h1 class="text-primary">Coupons List</h1>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <!-- Empty space for alignment -->
            </div>
            <div class="col-6 text-end">
                <a asp-action="CouponCreate" class="btn btn-success">
                    <i class="bi bi-plus-square"></i> Create New Coupon
                </a>
            </div>
        </div>
        <table id="couponsTable" class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Coupon Code</th>
                    <th>Discount Amount</th>
                    <th>Minimum Amount</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>@item.CouponCode</td>
                        <td>@((item.DiscountAmount).ToString("c"))</td>
                        <td>@((item.MinAmount).ToString("c"))</td>
                        <td class="text-center">
                            <a asp-action="CouponDelete" asp-route-couponId="@item.CouponId" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#couponsTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "language": {
                    "lengthMenu": "Show _MENU_ entries",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "paginate": {
                        "previous": "&laquo;",
                        "next": "&raquo;"
                    }
                }
            });
        });
    </script>
}
