@model ProductDto

<form asp-action="ProductDelete">
    <br />
    <div class="container border shadow-sm p-4 bg-light rounded">
        <h1 class="text-danger text-center">Delete Product</h1>
        <input hidden asp-for="ProductId" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control bg-light" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Category Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Category.Name" disabled class="form-control bg-light" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Description</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Description" disabled class="form-control bg-light" rows="5"></textarea>
            </div>
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Price</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" disabled class="form-control bg-light" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Image</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" disabled class="form-control bg-light" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="ProductIndex" class="btn btn-outline-primary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
