@model CategoryDto

<form asp-action="CategoryDelete">
    <br />
    <div class="container border shadow-sm p-4 bg-light rounded">
        <h1 class="text-danger text-center">Delete Category</h1>
        <input hidden asp-for="CategoryId" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2 fw-bold" style="font-size:18px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control bg-light" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="CategoryIndex" class="btn btn-outline-primary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
