@model IEnumerable<CategoryDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-light text-primary text-center py-3">
        <h1 class="fw-bold">Categories List</h1>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <!-- Empty space for alignment -->
            </div>
            <div class="col-6 text-end">
                <a asp-action="CategoryCreate" class="btn btn-success">
                    <i class="bi bi-plus-square"></i> Create New Category
                </a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Actions</th> <!-- Add text-end here -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="text-center">
                            <!-- Align buttons to the right -->
                            <a class="btn btn-outline-primary me-2" asp-action="CategoryEdit" asp-route-categoryId="@item.CategoryId">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-danger" asp-action="CategoryDelete" asp-route-categoryId="@item.CategoryId">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
